/* TranslateIT UI Framework / Templates */
.ti-t-main-page .ti-p-main-hero { justify-self: center; }
.ti-t-settings-page .ti-l-settings-scroll { position: relative; }
.ti-t-settings-page .ti-l-settings-scroll::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 118px;
  width: 5px;
  height: 1254px;
  border-radius: var(--ti-radius-pill);
  background: #1f2734;
}
.ti-t-settings-page .ti-l-settings-scroll::before {
  content: "";
  position: absolute;
  right: 24px;
  top: 235px;
  width: 5px;
  height: 270px;
  border-radius: var(--ti-radius-pill);
  background: #516078;
}
